@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/*---------------navbar-------------------------------*/
#dromeas-logo {
  font-family: "Pacifico", cursive;
  font-weight: bold;
}
.nav-item {
  margin: 10px;
}
i {
  margin-right: 5px;
}
ul {
  margin-left: 30px;
}
