{% extends 'navbar.html' %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/settings.css') }}"
/>
{% endblock %} {% block content %}

<div class="content-section">
  <div class="media">
    <legend class="border-bottom mb-7">Profile Info</legend>
    <img class="rounded-circle" src="{{ image_file }}" />
    <div class="media-body">
      <h2>{{ current_user.username }}</h2>
      <p class="text-muted">{{ current_user.email }}</p>
      <p class="text-muted">{{ current_user.about_me }}</p>
      <p class="text-muted">{{ current_user.level }}</p>
      <p class="text-muted">{{ current_user.area }}</p>
    </div>
  </div>
</div>
<div class="container">
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.csrf_token() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Update Profile Info</legend>
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }} {% if
        form.username.errors %} {{form.username(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for errors in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{form.username(class="form-control form-control-lg")}} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }} {% if
        form.email.errors %} {{form.email(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for errors in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{form.email(class="form-control form-control-lg")}} {% endif
        %}
      </div>
      <div class="form-group">
        {{ form.about_me.label(class="form-control-label") }}
        {{form.about_me(class="form-control form-control-lg") }}
      </div>
      <div class="form-group">
        {{ form.level.label(class="form-select-label") }}
        {{form.level(class="form-select form-control-lg") }}
      </div>
      <div class="form-group">
        {{ form.area.label(class="form-control-label") }}
        {{form.area(class="form-control form-control-lg") }}
      </div>

      <div class="form-group">
        {{ form.picture.label() }} {{ form.picture(class="form-control-file") }}
      </div>
    </fieldset>

    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

{% include "footer.html" %} {% endblock %}
