{% extends 'navbar.html' %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/signup.css') }}"
/>

<div class="container" >
  <form method="POST" action="" id="content-container">
    {{ form.csrf_token() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Join Today</legend>
      <div class="mb-3">
        {{ form.username.label(class='form-control-label') }}
        
        {% if form.username.errors %}
        {{ form.username(class='form-control form-control-lg is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
               <span>{{ error }}</span>
          {% endfor %}

        </div>
        {% else %}
            {{ form.username(class='form-control form-control-lg') }}
        {% endif %}

        
        
        <div class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        {{ form.email.label(class='form-control-label') }} 

        {% if form.email.errors %}
        {{ form.email(class='form-control form-control-lg is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
               <span>{{ error }}</span>
          {% endfor %}

        </div>
        {% else %}
            {{ form.email(class='form-control form-control-lg') }}
        {% endif %}
       
        <div class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        {{ form.password.label(class='form-control-label') }} 
        {% if form.password.errors %}
        {{ form.password(class='form-control form-control-lg is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
               <span>{{ error }}</span>
          {% endfor %}

        </div>
        {% else %}
            {{ form.password(class='form-control form-control-lg') }}
        {% endif %}
    
        
      </div>
      <div class="mb-3">
        {{ form.confirm_password.label(class='form-control-label') }}
        {% if form.confirm_password.errors %}
        {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
               <span>{{ error }}</span>
          {% endfor %}

        </div>
        {% else %}
            {{ form.confirm_password(class='form-control form-control-lg') }}
        {% endif %}
          <!------------------------------------------------------------------->
          <div class="form-group">
            {{ form.about_me.label(class="form-control-label") }}  {{form.about_me(class="form-control
            form-control-lg") }}
          </div>
          <!------------------------------------------------------------------->
          <div class="form-group">
            {{ form.level.label(class="form-select-label") }}  {{form.level(class="form-select
            form-control-lg") }}
          </div>
       <!------------------------------------------------------------------->
       <div class="form-group">
        {{ form.area.label(class="form-control-label") }}  {{form.area(class="form-control
        form-control-lg") }}
      </div>
     <!------------------------------------------------------------------->
      </div>
    </fieldset>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="container">
      {{ form.submit(class='btn ') }}
    </div>
    <div class="border-top pt-3">
      <small class="text-muted">
        Already have an Account?<a class="ml-2" href="{{ url_for('login') }}"
          >Log In</a
        >
      </small>
  </form>
  
</div>
<div class="container">
  <div class="row">
    <div class="footer">
      {% include "footer.html" %}

    </div>

  </div>

</div>

{% endblock %}
